@model IEnumerable<AM.Business.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<h1>Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-sm btn-success ml-1  mt-4 mb-2" style="background-color:#0082ff">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
           
            <th>
                Actions
            </th>
            <th>
                See the Products
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
@*                    @Html.DisplayFor(modelItem => )
*@
                    <img src="@item.Img" width="200" height="200">
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>

                <td style="color:#ffb703 ">
                @Html.ActionLink("Edit", "Edit", new {id=item.Id}) |
                @Html.ActionLink("Delete", "Delete", new {id=item.Id})
            </td>
                <td>
                    @Html.ActionLink("Products","Index", "Product", new {Catid=item.Id})
                </td>
        </tr>
}
    </tbody>
</table>
